@model DiaryEntry

<div class="container mt-4">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h2>Edit Diary Entry</h2>
				</div>
				<div class="card-body">
					<form asp-actions="Edit" method="post">
						<div asp-validation-summary="All" class="text-bg-info"></div>
						<div class="form-group mb-3">
							<label asp-for="Title" class="form-label">Title</label>
							<input asp-for="Title" class="form-control" placeholder="enter a title" />
						</div>
						<div class="form-group mb-3">
							<label asp-for="Content" class="form-label">Content</label>
							<input asp-for="Content" class="form-control" placeholder="what You do " />
						</div>
						<div class="form-group mb-3">
							<label asp-for="Created" class="form-label">Date</label>
							<input asp-for="Created" class="form-control" type="date" />
						</div>
						<div class="d-flex justify-content-between">
							<button type="submit" class="btn btn-primary">submit</button>
							<a asp-controller="DiaryEntries" asp-action="Index" class="btn btn-secondary">Cancel</a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	@section Scripts {

		<partial name="_ValidationScriptsPartial" />

	}
